<% provide(:title, 'About') %>
<h1>About</h1>
<p>
 My name is Aaron McIntyre and I am building this web application to host a restful api for my bar crawl buddy android and iOs app. This site will eventually allow bar owners and munchie owners to log in and change specials on the app and have it update instantly.
</p>