<div class ="row-fluid">
	<div class="span6">
		<div class="center hero-unit">
			<h1>Bar Crawl Buddy Console</h1>
			<h2>
  			Home of the RESTFul API for Bar Crawl Buddy. Supporting Bars Everywhere.
			</h2>

  			<%= link_to "Bar Owner Sign Up!", signup_path, class: "btn btn-large btn-primary" %>
		</div>
	</div>
	<div class="span6">
  	<%= image_tag("bcb.png", :size => "500x500") %>
	</div>	
</div>
